
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">{{ title }}</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/about/atinan">About</a></li>
            <li><a routerLink="/about/contact">Contact</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"> Type <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
              </ul>
            </li>
          </ul>
    
          <!-- <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form> -->

          <ul class="nav navbar-nav navbar-right" >
            <li appBgColor="#fff"><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shopping Cart</a></li>
            
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>

          

        </div>
    </nav>
    <br>

    <router-outlet></router-outlet>

    

